.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  background-color: #282c34;

}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subheader, .text {
  text-align: center;
  color: gray;
}

.subheader {
  margin-top: 16px;
}

.postButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}